h5 {
/* position: sticky; */
/* top: 0; */
/* position: fixed; */
display: flex;
align-items: center;
/* background-color: blue; 
border: 2px solid #4CAF50;  */
}

.week {
position: sticky;
top: 0;
/* background-color: green; */
/* border: 2px solid #4CAF50; */
}

.card .card-image .card-title {
    color: black;
}

#pic {
    width: 300px;
    height: 200px;
}
.card{

position: relative;
top: 100px;
}

/* fixed the weather nav bar */
.navbar {
    position: fixed;
    top: 0px;
    background-color:black;
    color: white;
    left: 0px;
    width: 950px;
    z-index: 1000;
    background-position: initial initial;
    background-repeat: initial initial;
    }

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: fixed;
    left: 400px;
  }

