@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  padding-bottom: 50px;
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-color: rgba(158, 158, 158, 0.5);
  background-size: cover;
  background-position: bottom center;
  z-index: -2;
}
.container {
  margin: 0 auto;
}
.container1 {
  padding-top: -10px;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
.contentainer_img {
  position: relative;
  float: left;
}
.container2 img {
  position: relative;
  float: left;
  object-fit: cover;
  margin: 20px;
  height: 250px;
  width: 340px;
  max-width: 100%;
  background-color: rgba(158, 158, 158, 0.5);
}
.imgcont {
  position: absolute;
  top: 50%;
  left: 30%;
  background: rgb(92, 92, 92);
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
  /* visibility: visible; */
  z-index: -1;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.imgcont:hover {
  cursor: pointer;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
}
.imgcont:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.2;
}
.gym {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  color: #fff;
}
img {
  opacity: 0.8;
  transition-timing-function: ease-in;
}
img:hover {
  cursor: pointer;
  box-shadow: 0 2 4px 1px rgb(5, 193, 255);
  opacity: 0.4;
  height: 240px;
  width: 360px;
  transition: width 0.2s;
  background-color: rgba(158, 158, 158, 0.5);
}
h1 {
  text-align: center;
  margin-top: 50px;
}
@media screen and (min-width: 600px) {
  .gym {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .container1 {
    display: block;
    flex-wrap: column;
  }
}